[2020-10-12 20:57] liaprins-czi opened #3 "Specify which image add method to use"
There seem to be four ways to add images based on a user's use case and preferred working style (notebook vs in console?) but unsure if choosing one over another has downstream constraints.

The image example in tutorial also does not work.
__________________________________________________________
**Recommendation**

Update documentation to explain if there’d be a certain reason to choose one ove

[2020-10-12 23:13] liaprins-czi opened #4 "How to know when a new napari version is available"
Users should know when there is a new version of napari without needing to leave the napari app itself (e.g. without needing to go to the website or Twitter).
__________________________________________________________
**Recommendation**

Ideally update the app to be able to auto-install updates when available (with user's permission first if needed).
Or at least it'd be better to be able to know w

[2020-10-12 23:14] liaprins-czi opened #5 "How to save as variable file formats"
No instructions for saving files; no UI feedback for saving them as anything but .tiffs.
__________________________________________________________
**Recommendation**

Consider creating a tutorial for how to save images.

This may be a Mac issue, but user should be able to save in multiple formats using menu dropdown.

Minor issue
◆◆◆   High content writing work
○○○   No design work
▽▽▽   No devel

[2020-10-12 23:15] liaprins-czi opened #6 "Home page layout"
Homepage layout makes it difficult to comprehend most important information about napari upon initial arrival.

Home page has too much information and is overwhelming.

Typography is crowded and hard to scan between sections of information.
__________________________________________________________
**Recommendation**

Reconsider the content that is in fact imperative to the user's initial impressi

[2020-10-12 23:16] liaprins-czi opened #7 "Tutorial naming conventions"
How to guides/sections have different names, making it difficult to navigate to accomplish a task (in this use case couldn't find the section that describes adding images).
__________________________________________________________
**Recommendation**

Address basic user task needs and organize in verb/task driven fashion.

Moderate issue
◆◆◇   Medium content writing work
●○○   Low design work
▽▽▽

[2020-10-12 23:16] liaprins-czi opened #8 "Structure of individual tutorials"
Tutorials employ "a simple example" convention to explain basic principles like layers, which should accelerate performance, but don't provide sufficient agnosticism from example to convey ability to perform action outside of the given example (ie not on the photographer picture but my own).

Block paragraph text make it difficult to follow what should be an instructional guide.

Preliminary parag

[2020-10-12 23:17] liaprins-czi opened #9 "Installation instructions"
Overall the installation instructions are somewhat confusingly organized as they appear in a couple of places: the home page and the tutorials section.

The installation docs can be confusing especially for new users to CLIs: they do not instruct whether to navigate anywhere within one's file system in order to both install and run.

The installation-specific docs are unclear in other ways as well

[2020-10-12 23:18] liaprins-czi opened #10 "Plugin installation"
Current website doesn't list example plugins to try, searching for plugins to play with don't surface anything easily.

Unclear how to install plugins, and whether installation worked. So far installation of attempted plugins has not worked.
__________________________________________________________
**Recommendation**

Known issue; Justin is leading plugin service incubation phase.

Provide better

[2020-10-12 23:19] liaprins-czi opened #11 "Accessibility [MIGHT NEED TO BECOME SEVERAL DISTINCT GITHUB ISSUES...]"
There are several color contrast and text size issues that are not WCAG (web content accessibility guidelines) compliant. While napari is not "web content" we should be aware of presenting tools that can be ready by individuals with sight differences.

Light theme layer selection color is strange (yellow) and inaccessible with text. When toggle the theme (View > Toggle theme) the background of mos

[2020-10-12 23:20] liaprins-czi opened #12 "Referencing installed plugins"
To know what plugins exist, users must navigate top menu and are shown a pop menu. Window font and table layout do not align with other typography or design choices within napari. Table lacks some functionality (can i uninstall the plugin? update it?) and may be hard to read with scale (as user adds many plugins).
__________________________________________________________
**Recommendation**

Plann

[2020-10-12 23:20] liaprins-czi opened #13 "Menubar copy"
Inconsistent use of capitalization within the menu options: For some choices (e.g. those within "View") Title Case Capitalization is used. For others (e.g. "Window") all lowercase is used but mixed with options that use capitalization.
__________________________________________________________
**Recommendation**

Follow the pattern set by the OS (for Mac it is Title Case for all menu options).

Be

[2020-10-12 23:20] liaprins-czi opened #14 "UI copy"
Colormap + points' shape dropdown names should not have underscores, should be full words.
__________________________________________________________
**Recommendation**

Use full words when labeling options.

Best practice
○○○   No design work
▼▽▽   Low development work

![uicopy](https://user-images.githubusercontent.com/53277128/95919712-f39c6080-0d62-11eb-8234-d5c432b426f6.png)
![uicopy2](https

[2020-10-12 23:21] liaprins-czi opened #15 "UI terminology"
Button names: unsure if users have prexisting understanding of widget terms (colormaps, edge width, etc), or what level of continued guidance would be helpful.
__________________________________________________________
**Recommendation**

Possible usability/concept testing to ensure nomenclature is holistically understood by users. If possible, consider embedded tool tips in viewer menu, or enhanc

[2020-10-12 23:22] liaprins-czi opened #16 "Iconography"
Overall the icons do not communicate what they represent very well, and all of them I needed to repeatedly hover on to see the tooltip name (especially the pan and zoom icon is the classic "search" icon).
__________________________________________________________
**Recommendation**

Overhaul the design of all the icons and consider if there's a way to integrate the action name directly into the UI

[2020-10-12 23:23] liaprins-czi opened #17 "Allow resetting"
Cannot reset the parameters to initial state.

Can't seem to reset/realign points' n-dim orientation (if turned on when layer had changed orientation). Now the points are strangely "sunken" into the layers at a surreal angle.
__________________________________________________________
**Recommendation**

Allow user to reset to default individual parameters set per layer, or all at once (e.g. the sl

[2020-10-12 23:23] liaprins-czi opened #18 "Layer panels layout"
It's difficult to grab window (layer list and control) as UI doesn’t display header.

"x" and popout icons are on left, when traditionally they live on the right top corner.

Very confusing interactions with the visibility + decoupling of the layer controls and layer list panels: The icon to click on to pop them out is very tiny and hard to click. This icon is also not very clear in communicating

[2020-10-12 23:25] liaprins-czi opened #19 "Layer controls relationships"
The actions shown per layer type, as well as the parameters are not consistently communicated in terms of their relationships and dependencies: For example, sometimes a parameter (slider, etc) only applies to selected things in the layer, other times to the layer as a whole. Also, some of the actions are dependent upon other actions having been done first, or are very related to each other relativ

[2020-10-12 23:35] liaprins-czi opened #20 "Blending modes"
Curious how the shapes' layer blending modes were chosen? Why wasn't "multiply" included, and others?
__________________________________________________________
**Recommendation**

Consider expanding to more blending modes, e.g. those available in Photoshop (we,, better yet, those available in other imaging software, or go beyond their options if users would want others).

Enhancement
●○○   Low de

[2020-10-12 23:36] liaprins-czi opened #21 "Color choice specific interactions"
Label-layer color selection: colors are numbered within widget, and users can go back to existing colors using eye drop tool or widget, but may forget how many colors they've used thus far, and not know how far to proceed forward in order to find a yet-to-be-used color.

If user paints multiple colors, they have to click back and forth between viewer pane and changing color widget, which costs tim

[2020-10-12 23:36] liaprins-czi opened #22 "Dropdown list order"
When selecting from the dropdown (ex: colormap in image layer), options are not in any recognizable order, causing users extra time to review list before selecting.
__________________________________________________________
**Recommendation**

Organize dropdown options in established order, A-Z unless other grouping mechanism makes sense for domain needs (other grouping example may be solid known

[2020-10-12 23:37] liaprins-czi opened #23 "Dropdown position"
Clicking a dropdown opens up the selections at the center of the list, rather than "dropping down" below the menu as traditionally seen in UI. This obstructs the view of other menu bars and controls.
__________________________________________________________
**Recommendation**
Menu items should expand and collapse below the control box.

Minor issue
●○○   Low design work
▼▽▽   Low development work

[2020-10-12 23:38] liaprins-czi opened #24 "Layer control sliders"
Gamma slider seems to not be able to go all the way to the end (maybe impossible for it to be zero?). However, part of the image on the canvas is still visible, suggesting it could go lower in theory, but not able to in the UI.
__________________________________________________________
**Recommendation**

Suggest allowing gamma to go to 0 unless that doesn't make sense for some sort of reason.

Mo

[2020-10-12 23:38] liaprins-czi opened #25 "Square brush"
Square brush shape doesn't seem to provide any value over circle shape. User has unnecessary burden of extra choice.
__________________________________________________________
**Recommendation**

I suspect the square brush shape is a relic since it was the original shape before I had suggested to change it to circle. However, we don't need both, so we can just get rid of the square shape and then

[2020-10-12 23:39] liaprins-czi opened #26 "Undo"
Lack of undo is very prominently felt (especially in painting labels).
__________________________________________________________
**Recommendation**

Determine best interactions for user to enact undo/redo (e.g. use universal keybindings + “File > Undo [insert action to be undone]” from within menubar, but also consider onscreen buttons). Implement.

Moderate issue
●●○   Medium design work
▼▼▼   H

[2020-10-12 23:40] liaprins-czi opened #27 "Shapes layer polygon drawing"
User clicks to build out their polygon shape of choice, but there's no way to "complete" the shape without clicking to a new button, which drags the masking tool in an unnecessary way and slows down the user drawing.

Plotting the vertices along as I create a shape, the constantly adjusting polygon can "overlap" or "twist" onto itself, sometimes into the negative space I'm not looking to cover. I'

[2020-10-12 23:41] liaprins-czi opened #28 "Pan and zoom interaction"
When using paintbrush function, one can’t pan around the image without clicking back and forth between "pan/zoom" and "paintbrush", which takes extra time for user. Finally saw the user feedback that shows I can press space, but it's very far away from the action in the layers window.

When adding new point/shape/layer, default button action is "pan/zoom", which causes user to make additional clic

[2020-10-12 23:41] liaprins-czi opened #29 "Paintbrush bullseye interaction"
Paintbrush tool creates a "bullseye" to show where color will appear, but color does not fill full up to border of bullseye, leaving gap which makes it difficult for user to accurately line up border with area that needs painting.

Brush size can be adjusted to a level which outsizes the viewer, which resullts in maximum painting of that viewer screen but looks odd.
_______________________________

[2020-10-12 23:42] liaprins-czi opened #30 "Hover versus selected treatment"
If I am hovering over a non-selected point, it looks selected, so I might be hesitant to click it (if I intend for it to be selected), because I think it is already selected and clicking might seem that it would un-select it.
__________________________________________________________
**Recommendation**

Design slightly different states for hovered-on versus selected points.

Best practice
●○○   Lo

[2020-10-12 23:43] liaprins-czi opened #31 "Indicate file extension"
When I go to save (anything: layer(s), screenshot), the save modal doesn't indicate what file type it will be saved as. When I tried to include a filetype extension as part of the name I provided in the text field, the image did not save. However, there was no indication / messaging / warning.
__________________________________________________________
**Recommendation**

By default, include the fi

[2020-10-12 23:43] liaprins-czi opened #32 "Maintain most recent directory"
When I navigate to a location on my machine via an import modal or a save modal provided by napari, it defaults to a root area of my folders every time. It doesn't remember the last place I had selected.
__________________________________________________________
**Recommendation**

Remember user's last-selected location (independent for opening a file and saving a file), and automatically open to

[2020-10-12 23:44] liaprins-czi opened #33 "Install fail"
Lucy: As non-python expert, I tried installing on my own but was confused by error feedback (I believe it was around skimage?), so asked my housemate (a VP of engineering w/years of python experience). He ALSO got stuck and had to troubleshoot workarounds (error: Please install the `scikit-image` package (instead of `skimage`)). As a nonprogrammer, I didn't turn to github out of bashfulness (and e

[2020-10-12 23:45] liaprins-czi opened #34 "Dysfunctional menubar options"
Often the menubar is not clickable/no options open if I don't have an image on the canvas yet. But I want to use the "File > Import image" option to get an image in the canvas in the first place, and cannot until I instead drag in an image.
Also, "File > Open Files as Stack" does not seem to do anything?

In the napari top bar menu, when go to "View > Toggle menubar visibility (command + M)" nothi

[2020-10-12 23:46] liaprins-czi opened #35 "Window width bug"
In adjusting the size of the console, one can drag the space over the other windows, without responsively resizing (this doesn't always occur, sometimes window is responsive).
__________________________________________________________
**Recommendation**

Fix so the window behaves responsibly.

Minor issue
○○○   No design work
▼▼▼   High development work

<img width="1278" alt="resizebug" src="http

[2020-10-12 23:46] liaprins-czi opened #36 "Pan and zoom bug"
Pan and zoom was behaving very incorrectly and unexpectedly for me for a while. It would not zoom from the point of cursor, and other inexplicable things on its own. I quit napari and relaunched my Terminal, and it worked well the next time, unsure how to reproduce. Ultimately it crashed my napari instance.
__________________________________________________________
**Recommendation**

Capture on v

[2020-10-12 23:47] liaprins-czi opened #37 ""Home" button bug"
Clicking "home" button does not turn my image to the original zoom level, per the tutorial. No action occurs.
Buttons do not work when in conda or opened via jupyter notebook.
__________________________________________________________
**Recommendation**

Clicking button should perform original zoom functionality.

This was an issue with how I installed napari and required closing and troubleshooti

[2020-10-12 23:48] liaprins-czi opened #38 "Eraser tool bug"
Label layer eraser tool cannot make curved lines; does not follow where I drag it accurately.
__________________________________________________________
**Recommendation**

Fix so it follow the path of curser precisely.

Minor issue
○○○   No design work
▼▼▼   High development work

![eraser](https://user-images.githubusercontent.com/53277128/95918543-d8c8ec80-0d60-11eb-915a-05a5ab6c4a82.png)

[2020-10-12 23:48] liaprins-czi opened #39 "Image view bug"
If you add a shape layer, then add image via menu option, image layer but does not default view to image. User must click on "reset view" to see image in viewer. Panning/zooming also does not bring image into view.
__________________________________________________________
**Recommendation**

Possible bug related to add image from menu options, review.

Moderate issue
○○○   No design work
▼▼▼   Hi

[2020-10-14 01:07] LCObus commented on #22
community input request: is there a preferred set groupings that are intuitive, other than A-Z?

[2020-10-14 01:15] LCObus commented on #19
While pre-design/engineering UXR is not required, this will be part of the usability test post change, to evaluate user mental models on relationships between layers and panel functionality.

[2020-10-14 01:21] LCObus commented on #7
research: validation via tree testing and/or card sorting

[2020-10-14 20:45] Czaki commented on #5
This is problem with design of io plugins in `napari.
Current pipeline is:

* user provide file name
* ask plugins in given order if it can save file with such path (suggestion is to do it base on extension)
* if plugin accept this path then it is used to save file.

So currently there is no information about file extension from saving method.
I discus a little about this with @jni on Zulip but on

[2020-10-14 20:56] Czaki commented on #4
Check for no release could be done using json api of pypi.org
https://warehouse.pypa.io/api-reference/json.html

(I have working code)

[2020-10-14 20:58] Czaki commented on #37
Which QT version? There is known bug for 5.15 https://github.com/napari/napari/issues/1312. If yoou use 5.15 then try to downgrade to 5.14.2

[2020-10-14 20:59] liaprins-czi commented on #5
Thank you for the information @Czaki , I think the estimate for the engineering work would apply to #31 ; this particular issue is about the documentation, which we can update to better explain to the user how to save.

[2020-10-14 21:00] Czaki commented on #34
could You add information about system?

[2020-10-14 21:03] Czaki commented on #33
napari should have no scikit-image dependency. Where You need scikit-image?

[2020-10-14 21:04] Czaki commented on #32
I suggest to remember few last directories (maybe ten?)

[2020-10-14 21:08] liaprins-czi commented on #33
@LCObus was experiencing the issue relating to scikit image... not sure if you remember the details around it, Lucy?

[2020-10-15 00:06] LCObus commented on #33
If my memory serves me, it was a naming convention error- the [napari documentation](https://napari.org/) tells the user to type "skimage" rather than "scikit-image" . Unfortunately, since my housemate was the one rapidly troubleshooting and changing code, I have trouble remembering his adjustments beyond that.
<img width="751" alt="Screen Shot 2020-10-14 at 5 03 26 PM" src="https://user-images.gi

[2020-10-15 15:52] liaprins-czi commented on #34
system at time:
MacBook Pro running MacOS Catalina 10.15.5

[2020-10-15 15:55] liaprins-czi commented on #33
@LCObus It sounds like maybe your particular install-related issue is more to do with the website content/documentation? Or do you think it should have been addressed during the installation process itself (i.e. the errors served, or being able to more gracefully handle your input)? If you think it is more that that docs are giving incorrect guidance, we can create a separate issue for that, and t

[2020-10-15 22:15] justinelarsen commented on #36
This may be fixed by https://github.com/napari/napari/pull/1729

[2020-10-15 22:24] justinelarsen commented on #38
This could be because of linear interpolation and the overall refresh rate being slow. Speeding up the refresh rate could be the solution. See https://github.com/napari/napari/pull/713

[2020-10-15 22:31] justinelarsen commented on #39
This may have been partially fixed in https://github.com/napari/napari/pull/1360 in 0.3.7 release. Testing was done on 0.3.6.

[2020-10-15 22:36] justinelarsen commented on #33
We should make a napari[docs] to install all of the requirements needed to run our examples.

[2020-10-15 22:39] justinelarsen commented on #34
This has been partially fixed by https://github.com/napari/napari/pull/1554. It's unclear how much better we can do without changing the installation instructions for mac users.

[2020-10-17 22:55] sofroniewn commented on #35
I was just able to reproduce this on https://github.com/napari/napari/commit/f8f61733c0d7f0b1781abd5da7a8d5f5dc8539af. I was fiddling with the size of the console and all of a sudden it happened, very disconcerting.

<img width="1171" alt="Screen Shot 2020-10-17 at 3 53 42 PM" src="https://user-images.githubusercontent.com/6531703/96354938-1a270800-1091-11eb-8a6d-10b3344ecfc3.png">

[2020-10-19 21:56] liu-ziyang commented on #33
This issue is scheduled for our Oct 20th - Nov 2nd Sprint

[2020-10-19 21:56] liu-ziyang commented on #36
This issue is scheduled for our Oct 20th - Nov 2nd Sprint

[2020-10-19 21:56] liu-ziyang commented on #35
This issue is scheduled for our Oct 20th - Nov 2nd Sprint

[2020-10-21 21:17] liu-ziyang commented on #33
compiling list of somewhat related issues:
https://github.com/napari/napari/issues/1742
https://github.com/napari/napari/issues/1627
https://github.com/napari/napari/issues/1477
https://github.com/napari/napari/issues/1340
https://github.com/napari/napari/issues/1112
https://github.com/napari/napari/issues/1070

I think one theme that I can see is that the installation requires some knowledge in d

[2020-10-23 17:56] LCObus commented on #33
I agree with these recommendation Ziyang- update the install guide to solve the problem before it happens/offer frequently known troubleshooting (we've seen this happen socially amongst the team when newcomers like lia and i have failed) and direct users towards one install option over another based on their background knowledge/expertise.

Re: user study, installation and its guide should be asse

[2020-10-23 19:07] liu-ziyang commented on #33
The documentation update is merged, which should covered the existing issues that we are aware of so far. we can close the issue for now, we will continue the related effort in h1 2021 usability research to improve our guides

[2020-10-23 19:07] #33 closed, assigned to nobody

[2020-10-23 20:45] liu-ziyang commented on #35
so far I am not able to reproduce, however somehow my console doesn't seem to be working at all:
[code]

[2020-10-23 20:48] sofroniewn commented on #35
Thats no good!

[2020-10-23 21:49] liu-ziyang commented on #35
I am turning into the bundled app to try to reproduce this, and unfortunately, I found our 0.3.8 is failing to build for macOS 😢, so I am using an earlier build of the bundled app to reproduce this, so far I found the console is responsive to other component and that despite I try to create edge cases by moving widget in and out, adjusting window size, and adjust console size, I cannot reproduce t

[2020-10-23 23:01] sofroniewn commented on #35
@ziyangczi the build did work for `0.3.8rc2` see https://github.com/napari/napari/releases/tag/v0.3.8rc2, but i think this bug is not fixed by anything. not sure i really understand it yet

[2020-10-27 21:23] liu-ziyang commented on #36
I checked the existing reports, this does seem to relate to the 1729 fix, closing the ticket now

[2020-10-27 21:23] #36 closed, assigned to nobody

[2020-10-27 21:28] liu-ziyang commented on #35
@napari/core-devs sorry to ping all, has anyone experienced this before? is there anything that you can recall that might lead to this?

[2020-10-27 21:46] sofroniewn commented on #35
I cannot reproduce this at will. It just happened to me, and I thought, ah perfect, I'll record it for you, but now I can't make it happen again :-( Will keep on trying, but it seemed to me to happen when I moved the mouse very quickly ...

[2020-10-27 22:24] GenevieveBuckley commented on #35
No I can't reproduce this at all, sorry

[2020-11-02 19:09] liu-ziyang commented on #35
closing this issue for now due to reproducing issue

[2020-11-02 19:09] #35 closed, assigned to nobody

[2020-11-03 00:35] liu-ziyang commented on #39
I can confirm this has been fixed, in 0.3.6 version I was seeing the behavior being camera zoomed all the way in on the top left corner, which for the test picture it is all black, zooming out actually shows that we were focusing on the corner.

[2020-11-03 00:35] #39 closed, assigned to nobody

[2020-11-03 00:39] liu-ziyang commented on #38
unfortunately I can't quite relate https://github.com/napari/napari/pull/713 to this issue, do you have more context on how they are related? @jni / @sofroniewn?
I am also not able to reproduce this bug on my machine, I saw the refresh rate mentioned in the above comment, is it more likely to happen on a lower refresh rate monitor?

[2020-11-03 01:13] jni commented on #38
@ziyangczi you need a large labels layer. Here's what happening:

- labels currently takes a long time to redraw, because there is expensive array computation done on the CPU, synchronously with rendering. That's because we need to convert labels (uint32 or similar) to a float32 in [0, 1] for VisPy, *and* we don't want the values to be sequential. All this will be improved with vispy/vispy#1912 an

[2020-11-03 01:23] liu-ziyang commented on #38
ha! Thanks for the very detailed explanation! I will see what I can do about this

[2020-11-05 04:17] liu-ziyang commented on #37
confirmed this was an issue with qt 5.15.0, we are currently excluding 5.15.0 from our dependency list, so no one should be running into this anymore, home button works normally again with 5.15.1 now

[2020-11-05 04:17] #37 closed, assigned to nobody

[2020-11-23 05:06] sofroniewn commented on #12
This has been improved since the merge of https://github.com/napari/napari/pull/1357 and there is now a new plugin management dialog.

[2020-12-02 23:06] liu-ziyang commented on #34
there are 2 parts in this issue, the first part does seem to be a side effect of the fixed #1554 where menubar is not really activated and not clickable when napari was opened new, one has to switch out then back for the menubar to function correctly.

The second part regarding menubar visibility, I was also initially confused why menubar visibility is locked at True and toggling doesn't do anythi

[2020-12-03 21:27] liu-ziyang commented on #34
related to: https://github.com/napari/napari/issues/1252

[2020-12-03 21:30] liu-ziyang commented on #34
@liaprins-czi as discussed I think we should spend some time on the design around the menubar, we should finalize on whether it should be hidden or not, and how to hide/unhide it if so. the above issue also have some related context which echos our findings

[2020-12-04 00:59] liaprins-czi commented on #34
Okay great, thanks for flagging this @ziyangczi

[2020-12-04 20:39] liu-ziyang commented on #34
going to continue future design related conversation in #1252

[2020-12-04 20:39] #34 closed, assigned to liu-ziyang

[2020-12-07 20:01] liu-ziyang commented on #38
opened PR https://github.com/napari/napari/pull/1993 to collect feedback on the approach

[2020-12-10 01:16] liu-ziyang commented on #38
opened another PR https://github.com/napari/napari/pull/2000 to try another approach

[2021-03-17 03:31] ppwadhwa commented on #25
@liaprins-czi Do we still need a drop down menu item for this if there is only 1 option?

[2021-03-17 15:27] liaprins-czi commented on #25
@ppwadhwa No, we should just remove the entire "brush shape:" section from the UI, and brush can be a circle by default instead

[2021-03-22 04:02] goanpeca commented on #32
@czaki , who would this work, are you suggesting an extra menu entry on `File` menu to have `Open recent folder...` or something?

<img width="301" alt="Screen Shot 2021-03-21 at 10 56 48 PM" src="https://user-images.githubusercontent.com/3627835/111938787-ba49e880-8a98-11eb-9b20-af34c13e3336.png">

---

@ppwadhwa this sounds like good issue to work on. We can add `open_recent_directories` and `sa

[2021-03-22 04:05] goanpeca commented on #31
This sounds like a good issue to work on @ppwadhwa

For the case of the layers
https://github.com/napari/napari/blob/master/napari/_qt/qt_viewer.py#L428

Some reference docs: https://doc.qt.io/qt-5/qfiledialog.html#getSaveFileName

[2021-03-22 04:06] goanpeca commented on #30
Sounds like a good issue to work on @ppwadhwa

[2021-03-22 04:08] goanpeca commented on #26
Could we have a more detailed list of the different actions where we would like to implement undo/redo, and maybe define some priorities @sofroniewn ?

[2021-03-22 04:12] goanpeca commented on #24
@liaprins-czi is there some sort of design in place for the different type of sliders and their respective textboxes for numeric input?

[code]

---

This could be an interesting issue to work on @ppwadhwa

[2021-03-22 04:19] goanpeca commented on #23
@liaprins-czi this is an issue that will be different on different operating systems, which also raises the question of *how much should we modify the default UX for a given system* to make them all uniform.

Qt aims to provide a native experience for every operating system, so this is the actual default behavior on OSX (however good or bad it may be)

<img width="654" alt="Screen Shot 2021-03-21

[2021-03-22 04:20] goanpeca commented on #22
Is there some feedback regarding what a desirable order would be :) @LCObus ?

---

@ppwadhwa this would be a good issue to work on.

[2021-03-22 04:22] goanpeca commented on #20
@napari/core-devs is there additional context that could be provided on this issue on why they were not added, or some of the development effort involved?

Thanks :)

[2021-03-22 04:33] goanpeca commented on #19
@LCObus is there additional context or work that needs to be done before this can be tackled?

Thanks :)

[2021-03-22 04:49] goanpeca commented on #18
Similar to what is discussed on https://github.com/napari/product-heuristics-2020/issues/23, this varies for different operating systems, which is what Qt allows and enforces: Use a single code base and look native on the different platforms (Win, Linux, OSX). For OSX users, having the icons on the left, is what is expected.

There are also several issues discussed here that although related, it m

[2021-03-22 04:50] goanpeca commented on #17
Would this be some sort of new button or context menu option @liaprins-czi ?

Is there some additional work/context needed before this can be tackled?

Thanks :)

[2021-03-22 04:53] goanpeca commented on #3
Is this still the case @napari/core-devs ?

---

This could be something to work on @ppwadhwa

[2021-03-22 05:00] goanpeca commented on #14
This is something that I touched when doing https://github.com/napari/napari/pull/2429

So I can continue with this.

(Can someone assign me :) ?)

[2021-03-22 05:01] goanpeca commented on #13
This sounds like a good issue to work on @ppwadhwa

[2021-03-22 05:04] goanpeca commented on #12
What is the estatus of this, or the remaining work to align with the initial suggestions @napari/core-devs ?

Thanks :)

[2021-03-22 05:05] goanpeca commented on #11
What is the status of this issue @liaprins-czi ?

Do we plan to open more issues for specific things to fix, and keep and overall list of the different problems we will need to solve?

Thanks!

[2021-03-22 05:07] goanpeca commented on #10
What is the status of this issues @napari/core-devs  :) ?

Any actions points we could start tackling on separate issues?

Thanks!

[2021-03-22 05:11] goanpeca commented on #9
Wondering what is the state of this issue with all the recent work on the new docs site @napari/core-devs

[2021-03-22 05:21] goanpeca commented on #4
This will need to take into account how napari was installed (pip/conda) to perform the checks in the respective places?

Is this something that could be implemented now? With the new settings in place, we can query for an check for the releases and provide a notification to the user that a new version is available, with the steps to do the update.

Eventually we could trigger the update process u

[2021-03-22 05:22] goanpeca commented on #6
With the recent work on documentation, what is the status of this issue?

Thanks :)

[2021-03-22 06:08] GenevieveBuckley commented on #3
Can you elaborate on this @liaprins-czi? Both examples work for me, so I'm curious about what you might be doing differently.

[2021-03-22 08:03] Czaki commented on #4
There is a situation where the napari new version is uploaded to PyPI and not to conda?

[2021-03-22 08:11] Czaki commented on #32
I suggest using [`setHistory`](https://doc.qt.io/qt-5/qfiledialog.html#setHistory) when creating dialog widget and added to history last 10 opened directories. So when the user wants to open/save some files then could faster navigate using the lasts locations.

I personally use 2-3 locations parallel.

[2021-03-22 10:54] tlambert03 commented on #12
I don't think there was anything in here that wasn't fixed in the updated plugin installer.  @liaprins-czi?

[2021-03-22 12:52] tlambert03 commented on #20
Those are the presets that are currently [provided by vispy](https://github.com/vispy/vispy/blob/04d050564b91161b1f8d4949e61c1df3b44af90d/vispy/gloo/wrappers.py#L30-L47).  Adding additional blending modes would require a little research into openGL's [`glBlendFuncSeparate`](https://www.khronos.org/opengl/wiki/GLAPI/glBlendFuncSeparate), and (preferably) an upstream PR.  Good vispy functions to sta

[2021-03-22 16:04] LCObus commented on #19
Thanks for checking @goanpeca , but I think Lia laid it out appropriately to tackle!

[2021-03-22 16:10] goanpeca commented on #19
Cool, this is something else we could work on @ppwadhwa

[2021-03-22 18:29] ppwadhwa commented on #25
Update: The square brush shape has been removed from the UI.  Eventually, we're going to completely remove it from the code base.

[2021-03-22 18:34] goanpeca commented on #4
It might no be very common, but while it is uploaded to PyPi there is some lag between it being picked up on conda-forge by the conda-forge bot. Also we wanto to make sure that users use the same install type, so either pip or conda, but not mix, since it might lead to binary issues with Qt.

[2021-03-22 19:28] Czaki commented on #4
There are multiple problematic cases. It is even possible that the user installs `napari` from `pip` and `Qt` from `conda`.
Also, plugins are always installed from pip https://github.com/napari/napari/blob/80f8ef18d9645c52601a8c1fd1125601f4b3dac0/napari/_qt/dialogs/qt_plugin_dialog.py#L81

Using json API you could check upload time for all releases. So maybe delay information about the new version

[2021-03-22 19:34] sofroniewn commented on #26
Yup, will get on this - at a high level, I think there will be things which change the actual data (like painting labels/ adding points, or one day an analysis routine from a plugin) and things which change how the data gets displayed (colormaps, rendering modes, moving the sliders).

I think ultimately we'd like all actions to be undoable and to have a nice history feature like photoshop has, but

[2021-03-22 19:38] sofroniewn commented on #23
Hmm, I'd probably be more inclined to stick with the default behaviour then. I'm a little wary of something too custom/ complex here.

Maybe theres another way to solve the problem instead though, like when we have more than 5 options instead of using a dropdown we use a line-edit search which shows the options similar to what you have typed. See this proposal from a while ago https://github.com/n

[2021-03-22 19:42] sofroniewn commented on #10
@neuromusic is leading some efforts on the newly named `napari-hub` that will be the web destination for finding plugins. From there we actually want to enable a `one-click` installation that will open up the current napari plugin installer (which I think wasn't merged when this issue was made). Your thoughts/ advice on enabling such a one click install from the web might be appreciated. Curious @

[2021-03-22 19:44] sofroniewn commented on #9
I think here we're imaging that one day we'll have an installation grid, rather like https://pytorch.org/
![image](https://user-images.githubusercontent.com/6531703/112048972-392c3900-8b0c-11eb-9a08-91c6edcbb541.png)

that we will try and autofill out as much as possible. Maybe @kne42 and @liaprins-czi can give an update on plans/ progress there

[2021-03-22 19:44] sofroniewn commented on #9
Note this would enable installing both from PyPI, cloning from github, or simply downloading the bundled app

[2021-03-22 19:59] sofroniewn commented on #3
yeah, there are a couple different options still. we're trying to reduce the complexity here (removing some of the `gui_qt` context manager). I suspect @GenevieveBuckley that `skimage` might not have been installed at the time if the test was done in a clean environment and that was confusing.

I think if @GenevieveBuckley can confirm that what we have right now still works (which it sounds like i

[2021-03-22 20:00] sofroniewn commented on #12
That is my understanding too, I think this was mostly addressed by the updates to the plugin installer, and it would be a new round of work to evaluate the current plugin installer and proposed improvements to it.

[2021-03-22 20:01] goanpeca commented on #4
That will work until it does not. So I  rather we do the checks on the origin of the packages.

Having plugins installed from pip will mostly work, unless there is some nonpyhton package biding that conflicts with a shared library in conda. Less likely but possible.

This could lead to a lot of problems and should be highly discouraged on the docs.

[2021-03-22 20:02] goanpeca commented on #12
In that case, do we close this issue?

[2021-03-22 20:07] tlambert03 commented on #10
I looked into this a little bit (on mac at least).  We should be able to register a custom URL scheme ([CFBundleURLSchemes](https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundleurltypes/cfbundleurlschemes)) with the OS, which would let `napari://...` open up the napari application (presumably we could have some app args that could then do something like insta

[2021-03-22 20:37] goanpeca commented on #23
My suggestion would be to not change this :). (maybe close the issue 🙃 )

[2021-03-22 20:44] goanpeca commented on #14
@sofroniewn where do the colormap names come from?

[2021-03-22 23:16] sofroniewn commented on #20
Yes, it's also a little weird that what vispy calls additive isn't strictly additive!! i.e. it doesn't just add and saturate like you'd expect based on https://en.wikipedia.org/wiki/Blend_modes. I'm not sure what we should do about this / if it would be more confusing to change now, or if we need to expose others. I've been tripped up here myself though!

[2021-03-22 23:18] sofroniewn commented on #20
I'd probably say that in the absence of further user requests adding more is low priority - i think it's more common to find more blending modes in a graphics editing tool (like a photoshop) and less common to find others in a scientific visualization tool, but if there was a use case in mind that people had for adding more we could add more.

[2021-03-22 23:43] Czaki commented on #4
If I good understant there could be check if `sys.version` contains Anaconda string. If Yes then could check if`  `napari` is listed in output of `conda list`. As this process is really slow it should be done in separate thread.

I do not know how to query conda about available versions,

[2021-03-23 01:54] sofroniewn commented on #12
Maybe let's wait to hear from @liaprins-czi if she any additional recommendations. If not we can close.

Here is a screenshot of the latest - none of which was in place when the heuristics analysis was done:

<img width="1192" alt="Screen Shot 2021-03-22 at 6 51 48 PM" src="https://user-images.githubusercontent.com/6531703/112080808-db194900-8b3f-11eb-90c8-d9011aebab93.png">

[2021-03-23 01:55] sofroniewn commented on #10
Ok, sweet, not surprising that this may end up being platform specific. Thanks for the leads though! cc @justinelarsen

[2021-03-23 01:59] sofroniewn commented on #23
Ok makes sense, but let's wait to hear from @liaprins-czi on this before deciding a next step

[2021-03-23 02:06] sofroniewn commented on #14
Many are defined in this list https://github.com/napari/napari/blob/9f7ac0d7a579ee1953ebe36f89223407df39f78f/napari/utils/colormaps/matplotlib_cmaps.txt and are named after vispy or matplotlib colormaps.

We then have this function which tries to get a colormap based on its "name" https://github.com/napari/napari/blob/b70712aa9cb944971044c2b8d0e1178121b35e5f/napari/utils/colormaps/colormap_utils.p

[2021-03-23 04:10] LCObus commented on #22
@sofroniewn are these colors chosen with any mental model or rationale? If not, I recommend starting A-Z and we can test it in the future.

[2021-03-23 05:08] justinelarsen commented on #23
I would agree with @goanpeca. At first glance, I understood why @liaprins-czi suggested this usability improvement, but testing out different dropdown menus on the mac, this is the default behavior that I never really paid attention to. I think keeping the default behavior of the OS as much as we can is the best for users and also easier maintenance for devs.

[2021-03-23 16:15] neuromusic commented on #10
Nice! A couple of thoughts...

As @liaprins-czi noted, even before "one-click", there are improvements that can happen:

I'll add a +1 to both of these. A guide to the "install/uninstall packages" dialog at https://napari.org/plugins/stable/index.html would be immediately useful and go a long way I think.

As for the napari hub, for our first iteration (June release) we only planning to provide cl

[2021-03-23 20:09] sofroniewn commented on #22
Not particularly, many of the names are taken from here https://matplotlib.org/stable/tutorials/colors/colormaps.html we actually support the full list of matplotlib colormaps > 50 but only expose some here. Similarly we support more from vispy.

We can also construct them fairly easily.

We could group them semanitcally, like `Sequential`, `Sequential2 `, `Diverging`, `Cyclic`, `Qualitative`, `Mi

[2021-03-23 21:27] liaprins-czi commented on #24
I have not explicitly designed this widget, at least the one with two range sliders (and therefore two input boxes). I have designed the one for the Preference pane (for changing console font size), which is just a single slider + single input box:
![Screen Shot 2021-03-23 at 2 14 25 PM](https://user-images.githubusercontent.com/53277128/112220531-9c3ccf00-8be3-11eb-9aa1-682812b5c0ea.png)

The way

[2021-03-23 21:47] liaprins-czi commented on #18
Okay that makes sense about the "x" button.

And I agree about splitting into separate issues, if better from implementation POV. As long as they are referenced to each other within each of the issues, since for design I will want to think about them holistically.

[2021-03-23 21:49] liaprins-czi commented on #17
Yes, I think we need more validation from people in community and / or users to verify if this is indeed something that should be changed, or if it is acting as expected. @sofroniewn do you have opinion on this one?

[2021-03-23 21:51] liaprins-czi commented on #11
@goanpeca This should maybe not even be an issue at all, haha. I think we are planning to do an accessibility audit of napari viewer sometime this half (or have one done...), then we'd create GH issues for each of those found. I will close this issue in the meantime, as we have the need for an a11y audit currently documented in our team OKRs.

[2021-03-23 21:51] #11 closed, assigned to nobody

[2021-03-23 21:58] liaprins-czi commented on #6
I think this one can be closed when the visual design is applied to the new website (@ jasuncion@chanzuckerberg.com is in process of developing Sphinx theme with the final visual styles).

[2021-03-23 22:05] sofroniewn commented on #17
The general concept of resetting the view is important. We have the "home" button in the bottom left that will reset the camera position, which would have brought these back in alignment.

I'm curious for this one @liaprins-czi did you try reseting the view with the home button (the little house)? Maybe it wasn't clear that is what it would do? It doesn't look like we expose that in the menubar ri

[2021-03-23 22:18] liaprins-czi commented on #32
As a minimum, when the file-selection dialog opens, it should open to the file folder that was last used.

However, beyond that, we can list the other most-recently used folders. On a Mac, I know where these would show up, but I am not sure where / if they go for other operating systems:

<img width="770" alt="Screen Shot 2021-03-23 at 3 10 26 PM" src="https://user-images.githubusercontent.com/532

[2021-03-23 22:27] liaprins-czi commented on #19
@goanpeca @ppwadhwa Actually this one will take a lot of design effort; I will not really be able to focus on it until I am finished with the first milestone of the Hub work. However, there may be a couple specific aspects I called out which could be fixed now as described, i.e. button stacking alignment.

[2021-03-23 22:32] liaprins-czi commented on #9
Here is a design of the approximate visual style we'll use when we're ready for this functionality (need to scroll down a bit on this artbaord, to below the image of the napari viewer): https://www.figma.com/file/NmdYwtpKfMzLnNLYYWrbTw/Final-designs?node-id=275%3A6

[2021-03-23 22:34] liaprins-czi commented on #3
Yes, I think it was likely `skimage`-related, when the example didn't work for me. I think if that is a dependency, we should call that out in the documentation, and how to fix it if possible (if still relevant).

[2021-03-23 22:38] liaprins-czi commented on #12
Yes, let's close it now; if we need to make usability updates related to the napari Hub work, we can figure that out when it comes along, but it would be separate from this.

[2021-03-23 22:38] #12 closed, assigned to nobody

[2021-03-23 22:54] liaprins-czi commented on #23
My bad! I agree we should keep it OS-dependent

[2021-03-23 22:54] #23 closed, assigned to nobody

[2021-03-23 23:08] liaprins-czi commented on #22
I really appreciate the color preview! I do not think we need to do any nesting of the options, but if it makes sense to group them semantically as @sofroniewn suggests, then could do that. However, I think it is fine to start by putting them alphabetically as well, if we don't have a strong sense of how users would expect them to be grouped.

[2021-03-23 23:17] liaprins-czi commented on #17
Okay good to know @sofroniewn ; yes this issue is actually about a few things, and each of them seem to have a different solution
- resetting the view / angle: _home button_
- resetting the layer settings, i.e. blending modes): _undo_
- and also re-aligning the strangely angeled / sunken points: _not fixable / not worth fixing right now_

Maybe we can close this issue, then?

[2021-03-23 23:55] Czaki commented on #32
Non all native open file dialog support history (gnome has a problem with this for example), but if I good remember Windows and macOS should work well.

Maybe in GNOME it was fixed since my last try (I personally use Qt one instead of native File Dialog).

[2021-03-24 01:12] goanpeca commented on #24
Thanks @liaprins-czi, we are good to go. We can refine on a subsequent iteration :)

[2021-03-24 01:13] goanpeca commented on #14
I would say this one.

[2021-03-24 01:13] goanpeca commented on #14
I have already added the mapping on the bottom for points
https://github.com/napari/napari/blob/master/napari/layers/points/_points_constants.py#L82

So we are good there, and why I suggest we keep doing mappings (so that they can be translated easily.)

[2021-03-24 01:16] goanpeca commented on #19
Sounds good @liaprins-czi!

[2021-03-24 01:24] goanpeca commented on #4
@Czaki there is a faster way to check for this. Basically we check the `<PREFIX>/conda-meta` folder, and also the packages installed (by conda) are listed there, so no need to run `conda list` (which is indeed very slow.

Now since this is an action that only happens once on startup, it could be ran in a separate Thread and notify the user when it is done, and that would be fine as well.

[2021-03-24 01:24] goanpeca commented on #4
Sorry I pressed the wrong button!

[2021-03-24 03:55] sofroniewn commented on #17
Yeah i'd be fine to close, maybe only thing I could thing of doing is adding the reset view to the menubar, but I guess it already has a button. I will close now, but we can reopen if people want to discuss further, have follow up ideas

[2021-03-24 03:55] #17 closed, assigned to nobody

[2021-03-24 04:06] sofroniewn commented on #14
Sounds good to me!

[2021-03-24 09:38] Czaki commented on #4
Ok. I do not use anaconda too often. It produces too many problems for me.

I have few remarks:

1. Mechanism should be enough general to use it for plugin update in the future
2. There is a need to check python compatibility (if a new release needs a more recent version of python than is inside the running environment this should be handled in a different way).
3. Some logic for checking python c

[2021-03-24 13:11] goanpeca commented on #4
If we go the conda route we could run a `--dry-run` and captures errors, since conda has a solver. Pip provides now a solver, but it is so slow that it is not usable for this case.

That would be nice, but python is not the only compatibility that may arise. We will end up writing a "solver" for pip :-|

[2021-03-24 13:16] Czaki commented on #4
But all plugins installed using dialog are installed from `pip`. So you cannot use `conda` for it.

I only think about parse package Metadata for entries `Requires-Dist`

[2021-04-14 00:13] #14 closed, assigned to goanpeca

[2021-05-11 16:03] goanpeca commented on #32
@sofroniewn I think we can close this one,

Fixed by napari/napari#2467

[2021-05-11 16:05] goanpeca commented on #31
Fixed by https://github.com/napari/napari/pull/2650

[2021-05-11 16:05] #31 closed, assigned to ppwadhwa

[2021-05-11 16:10] #32 closed, assigned to ppwadhwa

[2021-05-21 00:40] tlambert03 commented on #24
yep gamma can't be zero.  would be an error

[2021-05-21 16:08] liaprins-czi commented on #24
Okay good to know! But then the slider bar should start at 1 instead of 0,
meaning the slider dot should be able to go to the very far left end.

On Thu, May 20, 2021 at 5:41 PM Talley Lambert ***@***.***>
wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-05-21 16:10] tlambert03 commented on #24
well, actually gamma does need to go below 1.  basically, everything greater than zero is valid (it's a float value, and the current range of ~0.1 - 2 is pretty typical)

[2021-05-21 16:12] liaprins-czi commented on #24
Okay, well either way the slider dot should be able to visually reach the
far left edge of the slider bar (representing the minimum the gamma can be
set to); right now it doesn't quite. This is low priority though

On Fri, May 21, 2021 at 9:10 AM Talley Lambert ***@***.***>
wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-05-21 16:13] ppwadhwa commented on #24
@liaprins-czi are you saying that slider marker doesn't seem to reach the end of the slider?  I think the range values are set on the sliders to allow for the markers to reach either side.  Maybe it didn't appear to go to the end, because the sliders are not aligned by the bar, but by the total size of the widget...if that makes sense.

[2021-05-21 16:16] ppwadhwa commented on #24
OK, let me take that back.  the widgets are not completely aligned...I can say that.  the gamma looks shifted to the right in the original image you posted.

[2021-05-21 16:43] liaprins-czi commented on #20
In the Layers tutorial (https://napari.org/tutorials/fundamentals/image.html?highlight=blending%20mode#blending-layers) (and other tutorials) on napari.org we are explaining how each of the layer modes works,  but just at a very high level. For additive it says:
*The final blending mode `additive` will cause the layer to blend with the layers below even when it has full opacity. This mode is espec

[2021-05-21 19:42] liaprins-czi commented on #10
I have just created a proposal for small updates to napari.org that would help:
- plugin searchers understand how to install plugins within napari
- plugin searchers know about napari hub for finding plugins
- plugin developers know how to properly submit information about their plugin so it can be displayed on napari hub.

Here is the [G-Doc with the overall proposal](https://docs.google.com/docu

[2021-05-21 19:47] sofroniewn commented on #10
Love the figma mocks, all the new sections look very clear and easy to add. We can time this addition with the launch of the hub!

[2021-05-21 19:57] liaprins-czi commented on #24
Yes maybe it is the widgets themselves not being aligned though, as you say
@pam!

On Fri, May 21, 2021 at 9:16 AM Pam ***@***.***> wrote:

--

*Lia Prins*

Senior Data Visualization Designer

(650) 422-1750

chanzuckerberg.com

[2021-06-11 17:45] #25 closed, assigned to nobody

[2021-06-16 05:38] sofroniewn commented on #22
See https://github.com/napari/napari/issues/2725#issuecomment-852641213 and https://github.com/ambientnuance/pycuties for an expandable drop down menu that could be used to improve this experience

[2021-06-22 19:01] liaprins-czi commented on #26
G-doc with research:
https://docs.google.com/document/d/1TDlZV874qvt1pFFZbCFmaYJ1-w1_13EoejdD7uEoe8U/edit#

Old undo issue in main napari repo #474:
https://github.com/napari/napari/issues/474

New undo/redo issue in main napari repo #2579:
https://github.com/napari/napari/issues/2579

Design steps:
- [x] Read existing GH issues to understand context better
- [x] Research + document design best pr

[2021-06-22 19:04] liaprins-czi commented on #26
@goanpeca @ppwadhwa Temporarily un-assigning you from this while I work on design for it; I will re-assign to you all once design is ready (and not that you need to start working on it as soon as design is ready, that should not change the priority per se)

[2021-07-29 21:59] liaprins-czi commented on #18
Related: https://github.com/napari/napari/issues/3103

[2021-07-29 22:04] liaprins-czi commented on #19
Related: https://github.com/napari/napari/issues/3104

[2021-08-30 19:57] liaprins-czi commented on #19
Related: https://github.com/napari/napari/issues/2337

[2021-08-31 19:52] liaprins-czi commented on #19
Related: [Inconsistent behaviour when adding points (some options affect all points in layer, some don't) #702](https://github.com/napari/napari/issues/702)

[2022-04-25 14:03] brisvag commented on #18
Things changed a bit with napari/napari#4368, worth mentioning here I think!

[2022-11-23 00:57] isabela-pf opened #41 "Make this repository a hub for design work across napari"
I'm proposing this repo become the place to hold design work that is bigger than or limited when formatted as an issue. This might include work like
- a summary of user research done
- some of the other napari viewer design audits that have taken place since 2020
- a record of large-scale design decisions made in issues that may not be recorded elsewhere
- maybe something else in the future.

Righ